<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Books</title>
    <style>
        table, th, td {
          border: 1px solid black;
        }
        
        table {
          width: 80%;
        }
        </style>
</head>
<body>
    <table>
    <tr>
      <th>Title</th>
      <th>Price</th>
      <th>Date</th>
    </tr>
    {%for books in books_list%}
        <tr>
            <td>{{books.title}}</td>
            <td>{{books.price}}</td>
            <td>{{books.date}}</td>      
        </tr>
    {%endfor%}
    </table>

    
</body>
</html>